In [1]:
# Required set methods
#1 add method

names= {"abhi", "sourya", "manish", "tuka"}

names.add("vikas")

In [2]:
names

{'abhi', 'manish', 'sourya', 'tuka', 'vikas'}

In [3]:
#2 Union method

S = {1,2,3}
R = {3,4,5,6}

S|R

{1, 2, 3, 4, 5, 6}

In [4]:
#3 Intersection method

A = {1,2,3,4,5}
B = {3,4,5,6,7}

A & B

{3, 4, 5}

In [5]:
#4 Difference method

A = {1,2,3,4,5}
B = {3,4,5,6,7}

A - B

{1, 2}

In [6]:
#5 Symmetric difference method

A = {1,2,3,4,5}
B = {3,4,5,6,7}

A ^ B

{1, 2, 6, 7}

In [7]:
# Dictionary

my_dict = {"car":["suzuki","audi","zen"],"year":[1995,1999,1998]}

In [8]:
my_dict

{'car': ['suzuki', 'audi', 'zen'], 'year': [1995, 1999, 1998]}

In [9]:
my_dict.keys()

dict_keys(['car', 'year'])

In [10]:
my_dict.values()

dict_values([['suzuki', 'audi', 'zen'], [1995, 1999, 1998]])

In [11]:
my_dict.items()

dict_items([('car', ['suzuki', 'audi', 'zen']), ('year', [1995, 1999, 1998])])

In [12]:
my_dict["year"] # access single value

[1995, 1999, 1998]

In [13]:
my_dict["tyers"]=[45,55,47] # adding value

In [14]:
my_dict

{'car': ['suzuki', 'audi', 'zen'],
 'year': [1995, 1999, 1998],
 'tyers': [45, 55, 47]}

In [15]:
import pandas as pd
pd.DataFrame(my_dict)

      car  year  tyers
0  suzuki  1995     45
1    audi  1999     55
2     zen  1998     47

In [18]:
del my_dict["tyers"]

In [19]:
my_dict

{'car': ['suzuki', 'audi', 'zen'], 'year': [1995, 1999, 1998]}

In [20]:
my_dict.pop("car")

['suzuki', 'audi', 'zen']

In [21]:
my_dict

{'year': [1995, 1999, 1998]}