# Format Function

In [1]:
"my name is {}". format("abhi")

'my name is abhi'

In [2]:
"my name is {}, my age is {}". format("abhi",25)

'my name is abhi, my age is 25'

In [3]:
"my name is {Name}, my age is {age}, my city is {city}". format(Name="abhi",age=25,city="pune")

'my name is abhi, my age is 25, my city is pune'

In [4]:
"my name is {:s}, my age is {:d},". format("abc",25)

'my name is abc, my age is 25,'

In [ ]:
# here s = string value
       d = decimal value

In [8]:
# example

l = ["swapnil","viky","vaibhav","me"]
a = [23,35,25,26]
c = ["pune","nandani","kolhapur","sangli"]

for i in range (len(l)):
    print("my name is {},my age is {},my city is {}". format(l[i],a[i],c[i]))

my name is swapnil,my age is 23,my city is pune
my name is viky,my age is 35,my city is nandani
my name is vaibhav,my age is 25,my city is kolhapur
my name is me,my age is 26,my city is sangli

In [9]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!